<div class="container">
  <div class="row">
    <h3 class="h3 col-md-4 offset-md-4 text-center">Tipo</h3>
  </div>
  <div class="row">
    <select class="col-md-4 offset-md-4" name="Tipo" id="Tipo" (change)="getType()">
      <option value="Studente">Studenti</option>
      <option value="Corso">Corsi</option>
      <option value="Modulo">Moduli</option>
      <option value="Formazione">Formazioni</option>
      <option value="Semestre">Semestri</option>
      <option value="Certificazione">Certificazioni</option>
      <option value="Dipartimento">Dipartimenti</option>
    </select>
  </div>

  <div class="row">
      <h3 class="h3 col-md-4 offset-md-4 text-center">Filtro</h3>
  </div>
  <div class="row">
    <select class="col-md-4 offset-md-4" name="Filtro" id="Filtro">
      <option value="Name">Nome</option>

      <option *ngIf="[type] == 'Studente'" value="Surname">Cognome</option>
      <option *ngIf="[type] == 'Studente'" value="SerialNumber">Numero Matricola</option>

      <option *ngIf="[type] == 'Corso'" value="CourseCode">Codice corso</option>

      <option *ngIf="[type] == 'Modulo'" value="ModuleCode">Codice modulo</option>

      <option *ngIf="[type] == 'Semestre'" value="Module">Modulo presente</option>
    </select>
  </div>

  <div class="row">
    <h3 class="h3 col-md-4 offset-md-4 text-center">Valore</h3>
  </div>
  <div class="row">
    <input class="col-md-3 offset-4" type="text">
    <button class="btn btn-primary col-md-1">Cerca</button>
  </div>
</div>