.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar.fixed-left {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items: flex-start;
    right: auto;
  }

  .navbar.fixed-left .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 100%;
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    top: 0;
  }

  .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-left: 0.3em solid;
    border-bottom: 0.3em solid transparent;
    border-right: none;
    vertical-align: baseline;
  }

  .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
    left: 100%;
  }
}

#navbar-header {
  border-bottom: 1px solid white;
}

#navbar-content-items {
  margin-top: 15px;
}

#navbar-content-items a {
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 12px 12px 12px 12px;
  position: relative;
}

#navbar-content-items a i {
  position: absolute;
}

#navbar-content-items a span {
  margin-left: 45px ;
}

#navbar-content-items a:hover {
  background-color: #d8d8d860;
}

#navbar-content-items .active {
  background-color: white !important;
  color: #000000 !important;
}
