<div class="row">
  <div class="col-md-3">
    <div class="input-group mt-3">
      <input type="text" class="form-control" placeholder="Cerca piano di studio" aria-label="Cerca piano di studio">
      <div class="input-group-append">
        <span routerLink="new" class="input-group-text" type="button" id="basic-addon1"><i
            class="material-icons">add_circle</i></span>
      </div>
    </div>
    <ul class="list-group mt-3">
      <li *ngFor="let sp of studyPlans" class="list-group-item list-group-item-action" [routerLinkActive]="['active']"
        routerLink="{{sp.name}}">
        {{sp.name}}</li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
