<div class="bg-light rounded p-3 mt-5" *ngIf="semester" id="semesterDetail">
  <h1>{{semester.name}}</h1>
  <div class="form-row ">
    <div class="form-group col-md-12">
      <label for="semesterCode">Name</label>
      <input disabled value="{{semester.name}}" type="text" class="form-control" id="semesterCode">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="description">Descrizione</label>
      <input [(ngModel)]="semesterData.description" type="text" class="form-control" id="description">
    </div>
  </div>
  <div class="btn-group" id="btn-group">
    <button (click)="updateSemester()" type="button" class="btn btn-outline-success">Salva</button>
    <button (click)="deleteSemester()" type="button" class="btn btn-outline-danger mr-5">Elimina</button>
    <div class="col material-icons" id="printIcon" (click)="printDetail()">print</div>
  </div>

  <app-semester-enrollment  *ngIf="semester" [semesterChild]="semester"></app-semester-enrollment>
</div>
<app-loading *ngIf="loading"></app-loading>