<form class="bg-light rounded p-3 mt-5" *ngIf="student">
  <h1>{{student.name + " " + student.surname}}</h1>
  <div class="form-row ">
    <div class="form-group col-md-6">
      <label for="inputSerialNumber">Numero Matricola</label>
      <input value="{{student.serialNumber}}" type="text" class="form-control" id="inputSerialNumber"
        placeholder="Nr. Matricola">
    </div>
    <div class="form-group col-md-6">
      <label for="inputStatue">Statuto</label>
      <select class="form-control" id="inputStatue">
        <option *ngFor="let v of statuteValues">{{v}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" value="{{student.name}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputSurname">Surname</label>
      <input type="text" class="form-control" id="inputSurname" value="{{student.surname}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputBirthday">Anno di Nascita</label>
      <input type="date" value="{{student.birthday | date: 'd.MM.yyyy'}}" class="form-control" id="inputBirthday">
    </div>
    <div class="form-group col-md-6">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Salva</button>
</form>