<div class="bg-light rounded p-3 mt-5" *ngIf="student">
  <h1>{{student.name + " " + student.surname}}</h1>
  <div class="form-row ">
    <div class="form-group col-md-6">
      <label for="serialNumber">Numero Matricola</label>
      <input required [(ngModel)]="studentData.serialNumber" type="text" class="form-control" id="serialNumber"
        placeholder="Nr. Matricola">
    </div>
    <div class="form-group col-md-6">
      <label for="statute">Statuto</label>
      <select required [(ngModel)]="studentData.statute" class="form-control" id="statute">
        <option *ngFor="let v of statuteValues" [ngValue]="v">{{v}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input required [(ngModel)]="studentData.name" type="text" class="form-control" id="name">
    </div>
    <div class="form-group col-md-6">
      <label for="surname">Surname</label>
      <input required [(ngModel)]="studentData.surname" type="text" class="form-control" id="surname">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="birthday">Anno di Nascita</label>
      <input required [ngModel]="studentData.birthday | date: 'dd/MM/yyyy'" (ngModelChange)="updateData($event)" type="date" class="form-control" id="birthday">
    </div>
    <div class="form-group col-md-6">
      <label for="nationality">Nazionalità</label>
      <input required [(ngModel)]="studentData.nationality" type="text" class="form-control" id="nationality">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="comment">Commento</label>
      <textarea [(ngModel)]="studentData.comment" class="form-control" id="comment"></textarea>
    </div>
  </div>
  <div class="btn-group">
    <button (click)="updateStudent()" type="button" class="btn btn-outline-success">Salva</button>
    <button (click)="deleteStudent()" type="button" class="btn btn-outline-danger mr-5">Elimina</button>
  </div>
</div>
