#sidebar{
    z-index:9999;
    box-shadow: 0 2px 22px 0 rgba(0,0,0,.2),0 2px 30px 0 rgba(0,0,0,.35);
}

#sidebarHeader{
    border-bottom: 1px solid white;
    color: white;
}

#sidebarNav a {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 12px;
    color: white;
}

#sidebarNav a img{
    margin-right: 25px;
    margin-left: 10px;
}

#sidebarNav a:hover {
    background-color: #70a1ff;
}

.active{
    background-color: white !important;
    color: #007bff !important;
}

#content{
    background-color: #dfe4ea;
}