<div class="bg-light rounded p-3 mt-5">
  <h1>Nuovo Semestre</h1>
  <div class="form-row ">
    <div class="form-group col-md-12">
      <label for="semesterCode">Name</label>
      <input [(ngModel)]="semesterData.name" type="text" class="form-control" id="semesterCode">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="description">Descrizione</label>
      <input [(ngModel)]="semesterData.description" type="text" class="form-control" id="description">
    </div>
  </div>
  <div class="btn-group">
    <button (click)="createSemester()" type="button" class="btn btn-outline-success">Crea</button>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>