<div class="row">
  <div class="col-md-3 mt-2 text-center">
    <button routerLink="new" type="button" class="btn btn-secondary">
      Aggiungi Certificazione
    </button>
    <ul class="list-group mt-3  text-left">
      <li *ngFor="let c of certifications" class="list-group-item list-group-item-action"
        [routerLinkActive]="['active']" routerLink="{{c.certificationID}}">
        {{c.module.toString().split('#')[1]}} - {{c.student.toString().split('#')[1]}}</li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
