<div class="row">
  <div class="col-md-3" id="studentsColumn">
    <div class="input-group mt-3">
      <input type="text" class="form-control" placeholder="Cerca studente" aria-label="Cerca studente"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons">add_circle</i></span>
      </div>
    </div>
    <ul class="list-group mt-3">
      <li *ngFor="let p of students;" class="list-group-item list-group-item-action" [routerLinkActive]="['active']"
        [routerLink]="[p.contactID]">{{p.name + " " + p.surname}}</li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
