<div class="row h-100">
  <div class="col-md-3 h-100" id="studentsColumn">
    <h1 class="text-center mt-3 text-white">Studenti</h1>
    <button type="button" class="btn btn-info">Aggiungi</button>
    <ul class="list-group mt-3">
      <li class="list-group-item list-group-item-action">Agnola Tommaso</li>
      <li class="list-group-item list-group-item-action">Gionas Bonardi</li>
      <li class="list-group-item list-group-item-action">Olmo Barberis</li>
      <li class="list-group-item list-group-item-action">Ivan Pavic</li>
      <li class="list-group-item list-group-item-action">Brian Pulfer</li>
      <li class="list-group-item list-group-item-action">Agnola Tommaso</li>
      <li class="list-group-item list-group-item-action">Gionas Bonardi</li>
      <li class="list-group-item list-group-item-action">Olmo Barberis</li>
      <li class="list-group-item list-group-item-action">Ivan Pavic</li>
      <li class="list-group-item list-group-item-action">Brian Pulfer</li>
      <li class="list-group-item list-group-item-action">Gionas Bonardi</li>
    </ul>
  </div>
  <div class="col-md-9 h-100 bg-light"></div>
</div>
